ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: rgb(255, 255, 255);
  box-shadow: 4px 2px 5px gray;  
  margin-bottom: 2rem;
  padding: .5rem 2rem;
}

.btn-right{
  justify-content: space-between;
  width:100%;
}

.navBar button {
  background: rgb(155, 11, 155);
  border: 2px solid rgb(248, 4, 195);
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: rgb(238, 32, 193);
  color: rgb(252, 253, 253);
  cursor: pointer;
  border: 2px solid rgb(234, 0, 255);
}

.navBar .btn-admin {
  background: rgb(243, 159, 4);
  border: 2px solid white;
  color: white;
  padding: 0.5rem 0.5rem;
  max-width: 70rem !important;
}

.navBar .btn-admin:hover {
  background: rgb(231, 228, 6);
  color: rgb(7, 7, 7);
  cursor: pointer;
  border: 2px solid rgb(234, 0, 255);
}

.brand {
  cursor: pointer;
  font-size: 2.25rem;
  text-shadow: 0 2px 8px rgb(145, 141, 141) ;
}

.navBar a{
  color: rgb(160, 54, 221) !important;
}

.navBar a:hover{
  color: rgb(238, 32, 193) !important;
}
